/*Gemaakt door David, Ricardo, Amanvir & Enero*/
/* body */

body{
  margin: 0px;
}

#bodyfirstpage{
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to top, #33ccff 0%, #666699 100%);
  
}

/* container */

.container{
  margin:auto;
}

.containerfirstpage{
  width: 900px;
  margin: 350px auto 0;
  display:flex;

}

.boxfirstpage{
  position: relative;
  width: 300px;
  height: 100px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 10px;


}

.containerfirstpage .boxfirstpage .icon{
  width: 100%;
  height: 110%;
  color: #666699;
  transition: 0.5s;
  transform-origin: top;
  transform: translateY(0) rotateX(0deg);
  box-shadow: 0 5px 15px -5px #00000070;
}

.containerfirstpage .boxfirstpage:hover .icon{
  transform: translateY(100%) rotateX(90deg);
 
}

.containerfirstpage .boxfirstpage .icon .fa{
  font-size: 4em;
  line-height: 100px;
}

.containerfirstpage .boxfirstpage .details{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#666699;
  transition: 0.5s;
  transform-origin: bottom;
  transform: translateY(-100px) rotateX(90deg);
}

.containerfirstpage .boxfirstpage:hover .details{
  transform: translateY(0) rotateX(0deg);
}


.containerfirstpage .boxfirstpage .details  h3{
  margin: 0;
  padding: 0;
  line-height: 100px;
  font-size: 24px;
  font-family: sans-serif;
}

div .details a{
  color: #33ccff;
}

.containerfirstpage .boxfirstpage a{
  text-decoration: none;
}

/* header */

#main-header{
  border-bottom:1px solid #FE2E2E
}

.highlight{
  background: -webkit-linear-gradient( #33ccff 68%, #666699 32%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.title h1{
  margin-top: 140px;
  font-size: 100px;
}



/* navbar */

#navbar{
  text-transform:uppercase;
}

#navbar li{
  display: inline;
  padding-right: 20px;
  list-style: none;
}

#navbar a{
  text-decoration: none;
  color: #888;
}

#navbar li.current a, #navbar a:hover{
  color: #FE2E2E;
  border-bottom: 3px solid #FE2E2E;
  padding-bottom: 3px;
}

/* showcase */

#showcase{
  background:url('./images/showcase1.jpg') no-repeat center center;
  border-bottom: 1px solid #FE2E2E;
  margin-bottom: 30px;
}

#showcase .row{
  height:600px;
}

#showcase h1{
  font-size:50px;
  margin:0;
  padding-bottom:20px;
}

#showcase p{
  color: #ccc;
  margin:0;
}

#showcase .showcase-content{
  background: #333;
  color: #fff;
  border-radius: 90px;
  padding: 40px;
  opacity: 0.9;
}


/* dashboard */

#bodydashboard{
  margin: 0px;
  border: 0px;
}

.headerdashboard{
  width: 100%;
  height: 120px;
  background: #666699 ;
  color: white;
}

.sidebardashboard{
  width: 300px;
  height: 400px;
  background: #666699 ;
  float: left;
  margin-top: 0px;
}

.datadashboard{
 height: 400px;
  background: #33ccff ;
  font-family: helvetica;
  font-size: 25px;
}

.profildashboard{
  width: 100px;

}

.sidebardashboard .uldashboard .lidashboard{
  padding: 50px;
 list-style-type: none;
}

 .uldashboard .lidashboard:hover{
  background: #33ccff;

}

.Timelinedashboard{
  width: 100%;
  margin-left: 3px;


}
.containerdashboard {
  width: 99%;
  background-color: #666699;
  
}

.skills {
  text-align: right;
  padding: 2px;
  color: white;
}
.Rijlessen {width: 60%; background-color: #33ccff;}
.Theorie {width: 100%; background-color: #33ccff;}
.Parkeren {width: 70%; background-color: #33ccff;}
.Omkeer {width: 50%; background-color: #33ccff;}
.Stop {width: 60%; background-color: #33ccff;}
.Navigatie {width: 60%; background-color: #33ccff;}

.Baan {width: 90%; background-color: #33ccff ;}
.Enero {width: 50%; background-color: #33ccff;}
.Ricardo {width: 70%; background-color: #33ccff;}
.David {width: 30%; background-color: #33ccff;}
.Amanvir {width: 99%; background-color: #33ccff;}

.autodashboard{
  width: 100%;
  height: 400px;

}

.autodashboard img{
  float: left;
  padding-left: 25px;

}

.glc {
  width:448px;
  margin-top: 27px;
}

.bugatti{
  width: 448px;

}

/* pakketten */


.pakketten-Body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #33ccff 0%, #666699 100%);
    background-size: cover;
    background-attachment: fixed;
}

.prijs-tablepakketten{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.colpakketten{
    flex: 25%;
    padding: 10px;
    max-width: 320;
    box-sizing: border-box;
}

.tablepakketten{
    background: rgba(255, 255, 255, 0.466);
    padding: 40px 20px;
    font-family: 'montserrat', sans-serif;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #00000070;
    border-radius: 20px;
}

.tablepakketten h2{
    text-transform: uppercase;
}

.tablepakketten ul{
    margin: 0;
    padding: 0;
}

.tablepakketten ul li{
    padding: 10px 0;
    list-style: none;
}

.tablepakketten button{
  text-decoration: none;
  color: #212131;
  border: 2px solid #00b9f794;
  background-color: #00b9f794;
  display: block;
  padding: 10px 0;
  margin: 10px 0;
  margin: auto;
  width: 200px;
  border-radius: 40px;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.5s linear;
}

.tablepakketten button:hover{
  background-color: #3b3b58;
  color: #33ccff;
}

.Lessenpakketten{
 width: 25%;
}



@media screen and (max-width: 980px) {
    .colpakketten{
        flex: 50%
    }
}

@media screen and (max-width: 700px) {
    .colpakketten{
        flex: 100%;
    }
}





/*inloggen */


  
.containerinloggen{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to top, #33ccff 0%, #666699 100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  z-index: 1;
}

.inlog-box{
  width: 450px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
  
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
}

#tietleinloggen{
  font-size: 15px;
  font-weight: 600;

  margin: 20px 0 70px 0;
}


.rij::after{
  content: "";
  display: table;
  clear: both;
}

.col{
  float: left;
  width: 50%;

}

.tekstboxtop{
  width: 90%;
  
}

.tekstboxtop input{
  border: none;
  outline: none;
  width: 100%;
  padding: 8px 0;
  color: black;
  font-weight: bold;
  background-color: #e6e6e6;
}

.tekstbox{
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #666699 ;
  margin: 16px 0;
}

.tekstbox input{
  border: none;
  outline: none;
  width: 100%;
  padding: 20px 0;
  color: black;
  font-weight: 600;
  background-color: #e6e6e6;
  border-bottom: 1px solid #666699; 
}

.buttoninloggen input{
  width: 90%;
  border-radius: 50px;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  margin: 40px 0;
  color: white;
  background: linear-gradient(to top, #33ccff 0%, #666699 100%);
  margin-bottom: 0px;

}

.buttoninloggen input:hover{
  background: linear-gradient(to bottom, #33ccff 0%, #666699 100%);
  box-shadow: 0 4px 10px 0 rgba(0,0,0, 0.1);

}






















/* Footerfirstpage */

#footerfirstpage{
  height:78px;
}

.middle{
  position: absolute;
  top:60%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.btn{
 display: inline-block;
 width: 90px;
 height: 90px;
 background:#666699;
 margin: 10px;
 border-radius: 30%;
 box-shadow: 0 5px 15px -5px #00000070;
 color: #33ccff ;
 overflow: hidden;
 position: relative;
}

.btn i{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}

.btn:hover i{
  transform: scale(1.3);
  color: #666699;
}

.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #33ccff;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left:-10%;
}



