
/* body */

body{
  margin: 0px;
}

/* container */

.container{
  margin:auto;
}


/* header */

#main-header{
  border-bottom:1px solid #FE2E2E
}

.highlight{
  color: #FE2E2E;
}

/* navbar */

#navbar{
  text-transform:uppercase;
}

#navbar li{
  display: inline;
  padding-right: 20px;
  list-style: none;
}

#navbar a{
  text-decoration: none;
  color: #888;
}

#navbar li.current a, #navbar a:hover{
  color: #FE2E2E;
  border-bottom: 3px solid #FE2E2E;
  padding-bottom: 3px;
}

/* showcase */

#showcase{
  background:url('./images/showcase1.jpg') no-repeat center center;
  border-bottom: 1px solid #FE2E2E;
  margin-bottom: 30px;
}

#showcase .row{
  height:600px;
}

#showcase h1{
  font-size:50px;
  margin:0;
  padding-bottom:20px;
}

#showcase p{
  color: #ccc;
  margin:0;
}

#showcase .showcase-content{
  background: #333;
  color: #fff;
  border-radius: 90px;
  padding: 40px;
  opacity: 0.9;
}



/*css van pakketten pagina*/
.pakketten-Body{
  margin: 0;
  padding: 0;
  background: linear-gradient(175deg, #ffb3b3, #ff1a1a);
  background-size: cover;
  background-attachment: fixed;
}

.prijs-tablepakketten{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.colpakketten{
  flex: 25%;
  padding: 10px;
  max-width: 320;
  box-sizing: border-box;
}

.tablepakketten{
  background: rgba(255, 255, 255, 0.466);
  padding: 40px 20px;
  font-family: 'montserrat', sans-serif;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px #00000070;
  border-radius: 20px;
}

.tablepakketten h2{
  text-transform: uppercase;
}

.tablepakketten ul{
  margin: 0;
  padding: 0;
}

.tablepakketten ul li{
  padding: 10px 0;
  list-style: none;
}

.tablepakketten a{
  text-decoration: none;
  color: #af0000a9;
  border: 2px solid #af0000a9;
  display: block;
  padding: 10px 0;
  margin: 10px 0;
  border-radius: 40px;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.5s linear;
}

.tablepakketten a:hover{
  background-color: #af0000a9;
  color: #fff;
}
#winkelmand{
  text-decoration: none;
}

@media screen and (max-width: 980px) {
  .colpakketten{
      flex: 50%
  }
}

@media screen and (max-width: 700px) {
  .colpakketten{
      flex: 100%;
  }
}


